@charset "utf-8";
/* CSS Document */
body{
    background-color: burlywood;
    font-family: arial, Helvetica, sans-serif;
}
header{
    width: auto;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px orange, 0 0 5px darkorange;
    text-align: center;
    padding-bottom: 1%;
}

h1{
    font-size: 3em;
    color: dodgerblue;
}

h2{
    text-align: center;
    font-size: 2em;
}

ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    border: 1px solid #5C5252;
    background-color: steelblue;
}

li{
    float: left;
    border-right: 1px solid gray;
}

li a{
    text-align-all: center;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

li a:hover:not(.activePage){
    background-color: darkorange;
    color: black;
}

.activePage{
    background-color: orangered;
    color:black;
}
ul{
    background-color: darkorange;
}
li a:hover:not(.activePage){
    background-color: orangered;
    color: black;
}
.activePage{
    background-color: orangered;
    color:black;
}

.twitter {
	color: blue;
	transition: color 0.3s;
	text-decoration: none;
	margin: 0 15px;
}

.twitter:hover {
	color: red;
	
}

.facebook {
	color: blue;
	transition: color 0.3s;
	text-decoration: none;
	margin: 0 15px;
}

.facebook:hover {
	color: green;
	
}


div.Social-form {
	
}

label {
  display: block;
  font-family: 'Aleo';
  padding-bottom: 4px;
  font-size: 1.25em;
}

input, select, textarea {
  border-radius: 2px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'Aleo';
  width: 500px;
  padding: 8px;
}

textarea {
  height: 250px;
}

button {
  height: 50px;
  background: blue;
  color: white;
  border: 2px solid darkgreen;
  font-size: 1.25em;
  font-family: 'Aleo';
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  border: 2px solid black;
}

